*, 
*:hover, 
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

.main-wrapper {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
}

.nav__menu {
  display: flex;
}